# Environments
.env
.env.*
!.env.example

# Credentials
serviceAccountKey.json

# Virtual environments
venv/
env/
.venv/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Logs
logs/
*.log

# IDEs
.idea/
.vscode/
*.swp
